[DEFAULT]
ExcludedProductTokens=
WsApiUrl=https://saas.whitesourcesoftware.com/api/v1.3
UserKey=eb6c83ffb47641ec8e47fc4b41c57d96339642f9c89540faa89a44e0fb280250
OrgToken=16830c25fcd543a289089bb076db4babeeaa874b9e6d49fb8a4ccbf3d222d808
DryRun=False
DaysToKeep=90
Reports=inventory_report.xlsx, vulnerability_report.xlsx, source_file_inventory_report.xlsx, alerts_report.xlsx, due_diligence_report.xlsx, bugs_report.xlsx, ignored_alerts_report.xlsx, resolved_alerts_report.xlsx, request_history_report.xlsx, in_house_report.xlsx,license_compatibility_report.xlsx
ArchiveDir=c:\tmp\PSD-55
ProjectParallelismLevel=20